In [ ]:
# String Processing in Python from learnpython.org

In [2]:
# Take a user's name, age and is passport number. Verify the user typed it in correct format

In [3]:
Name = input("Enter your name in all caps ")
Age = input("Enter your age ")
Passport_number = input("Enter your password ")

if Name.isalpha() and Name.isupper():
  print("Name is in upper case and contain alphabets only")
else:
  print("Name is not in correct format")
if (Age.isalnum()):
  print("Age is also correct")
if(Passport_number.isalnum()):
  print("Passport is in correct format")
else:
  print("passport format is incorrect")

Enter your name in all caps DILIP
Enter your age 9
Enter your password QAZ236QA
Name is in upper case and contain alphabets only
Age is also correct
Passport is in correct format

In [4]:
# Write a python program to find the number of letter i in a) Dilip , b) Joseph , c) Dan

In [6]:
a="Dilip"
b="Stephnie"
c="Dan"
counter = a.count('i')
print("Number of letter i in dilip is:"+str(counter))
counter = b.count('i')
print("Number of letter i in Stephnie is:"+str(counter))
counter = c.count('i')
print("Number of letter i in Dan is:"+str(counter))

Number of letter i in dilip is:2
Number of letter i in Stephnie is:1
Number of letter i in Dan is:0

In [7]:
# 3. Write a Python program to add 'ing' at the end of a given string
### Sample String 'cook'
### Expected output: 'cooking'

In [8]:
string = "Dance"
add = "ing"
print("string"+str(add))


a= "play"
b= "ing"
print("play"+str(b))

stringing
playing

In [ ]:
# if Elif Else statements

In [9]:
 #write a program that takes input which represents the miles ran
# and then states if the user ran more than a marathon
# marathon equals 26.22 miles

In [10]:
a= input(" Miles ran")
a= float (a)
if a > 26.22:
    print("ran more than marathon")
elif a== 26.22:
            print(" ran marathon")
else:
    print("Went for run")

 Miles ran27
ran more than marathon

In [11]:
# While Loop

In [12]:
i = 0
while i < 10: 
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
# nesting for loops

In [ ]:
# print multiplication tables of 1 - 12

In [13]:
for x in range(1, 13):
    for y in range(1, 13):
        print(x, 'x', y, '=', x * y)
    print('--------------')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
--------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
--------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
--------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
--------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
--------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
--------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
--------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
--------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
--------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
--------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
--------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
--------------

In [14]:
# right triangle

In [15]:
for x in range(6):
    for y in range(x):
        print('*', end=' ')
    print()
print()

*
* *
* * *
* * * *
* * * * *

In [16]:
# calculating factorials of a number n

In [18]:
n = int(input('Enter a number n '))
count = n-1
while count >= 1:
    n *= count
    count -= 1
print('n =', n)

Enter a number n 4
n = 24

# Write a function name remove_com_doll
- This function should take in the prices series as its input argument.
- This function should clean these strings and our strings with dollar signs and commas into proper floats.

In [2]:
import pandas as pd

In [3]:
prices = pd.Series(["$9856.45", "$67890.12", "$3562.56", "$456789.12"])

In [4]:
prices = prices.str.replace('$','')
prices = prices.str.replace(',','').astype(float)

<ipython-input-4-f0d7be47f142>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  prices = prices.str.replace('$','')

In [8]:
def remove_com_doll(prices):
    return prices
prices

0      9856.45
1     67890.12
2      3562.56
3    456789.12
dtype: float64

0      9856.45
1     67890.12
2      3562.56
3    456789.12
dtype: float64

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
all_data = exercise_data = pd.read_csv("/Users/dilip/Desktop/cust_data - data.csv")
all_data

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),$56.05,...,True,False,3,20200211,$0.00,False,2 Year,No Phone Service,DSL,Internet Only
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,$20.00,...,False,False,3,20200211,$0.00,False,2 Year,One Line,No Internet Service,Phone Only
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),$61.90,...,True,True,2,20200211,$0.00,False,2 Year,Two or More Lines,DSL,Phone+Internet
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,$19.70,...,False,False,3,20200211,$0.00,False,1 Year,One Line,No Internet Service,Phone Only
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,$20.25,...,False,False,2,20200211,$0.00,False,2 Year,One Line,No Internet Service,Phone Only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,3910-MRQOY,Female,0,Yes,No,1,0,2,Bank transfer (automatic),$19.40,...,False,False,1,20130908,$19.40,True,2 Year,One Line,No Internet Service,Phone Only
7039,6010-DDPPW,Male,0,Yes,No,2,0,2,Bank transfer (automatic),$25.15,...,False,False,1,20130907,$25.15,True,2 Year,Two or More Lines,No Internet Service,Phone Only
7040,7083-MIOPC,Female,0,No,No,1,0,2,Credit card (automatic),$20.25,...,False,False,0,20130901,$20.25,True,2 Year,One Line,No Internet Service,Phone Only
7041,8207-VVMYB,Female,0,Yes,No,2,0,2,Bank transfer (automatic),$26.00,...,False,False,1,20130907,$26.00,True,2 Year,Two or More Lines,No Internet Service,Phone Only
7042,5893-KCLGT,Female,0,No,Yes,1,0,2,Mailed check,$19.75,...,False,False,2,20130703,$19.75,True,2 Year,One Line,No Internet Service,Phone Only

In [44]:
all_data.head(30)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),$56.05,...,True,False,3,20200211,$0.00,False,2 Year,No Phone Service,DSL,Internet Only
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,$20.00,...,False,False,3,20200211,$0.00,False,2 Year,One Line,No Internet Service,Phone Only
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),$61.90,...,True,True,2,20200211,$0.00,False,2 Year,Two or More Lines,DSL,Phone+Internet
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,$19.70,...,False,False,3,20200211,$0.00,False,1 Year,One Line,No Internet Service,Phone Only
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,$20.25,...,False,False,2,20200211,$0.00,False,2 Year,One Line,No Internet Service,Phone Only
5,3213-VVOLG,Male,0,Yes,Yes,2,0,2,Mailed check,$25.35,...,False,False,3,20200211,$0.00,False,2 Year,Two or More Lines,No Internet Service,Phone Only
6,4075-WKNIU,Female,0,Yes,Yes,2,1,2,Mailed check,$73.35,...,True,True,3,20200211,$0.00,False,2 Year,Two or More Lines,DSL,Phone+Internet
7,4367-NUYAO,Male,0,Yes,Yes,2,0,2,Mailed check,$25.75,...,False,False,3,20200211,$0.00,False,2 Year,Two or More Lines,No Internet Service,Phone Only
8,4472-LVYGI,Female,0,Yes,Yes,0,1,2,Bank transfer (automatic),$52.55,...,True,False,3,20200211,$0.00,False,2 Year,No Phone Service,DSL,Internet Only
9,5709-LVOEQ,Female,0,Yes,Yes,1,1,2,Mailed check,$80.85,...,True,True,3,20200211,$0.00,False,2 Year,One Line,DSL,Phone+Internet
10,7644-OMVMY,Male,0,Yes,Yes,1,0,2,Mailed check,$19.85,...,False,False,3,20200211,$0.00,False,2 Year,One Line,No Internet Service,Phone Only
11,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,$72.10,...,True,True,0,20200111,$72.10,True,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
12,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,$25.10,...,True,False,0,20200111,$25.10,True,Month-to-Month,No Phone Service,DSL,Internet Only
13,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),$30.50,...,True,False,3,20200111,$30.50,True,Month-to-Month,No Phone Service,DSL,Internet Only
14,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,$44.30,...,True,True,0,20200111,$44.30,True,Month-to-Month,One Line,DSL,Phone+Internet
15,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,$19.85,...,False,False,0,20200111,$19.85,True,Month-to-Month,One Line,No Internet Service,Phone Only
16,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,$99.75,...,True,True,2,20200111,$99.75,True,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
17,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,$80.20,...,True,True,0,20200111,$80.20,True,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
18,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,$70.90,...,True,True,0,20200111,$70.90,True,Month-to-Month,One Line,Fiber Optic,Phone+Internet
19,0231-LXVAP,Male,0,No,No,1,2,0,Electronic check,$75.90,...,True,True,0,20200111,$75.90,True,Month-to-Month,One Line,Fiber Optic,Phone+Internet
20,0235-KGSLC,Female,0,No,No,1,2,0,Credit card (automatic),$85.55,...,True,True,0,20200111,$85.55,True,Month-to-Month,One Line,Fiber Optic,Phone+Internet
21,0247-SLUJI,Male,0,Yes,Yes,1,0,0,Mailed check,$19.70,...,False,False,3,20200111,$19.70,True,Month-to-Month,One Line,No Internet Service,Phone Only
22,0248-IPDFW,Female,0,No,No,2,1,0,Electronic check,$50.10,...,True,True,0,20200111,$50.10,True,Month-to-Month,Two or More Lines,DSL,Phone+Internet
23,0295-PPHDO,Male,0,No,No,2,2,0,Electronic check,$95.45,...,True,True,0,20200111,$95.45,True,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
24,0318-QUUOB,Male,0,Yes,No,1,2,0,Electronic check,$80.55,...,True,True,1,20200111,$80.55,True,Month-to-Month,One Line,Fiber Optic,Phone+Internet
25,0322-YINQP,Male,0,No,No,1,1,0,Mailed check,$48.55,...,True,True,0,20200111,$48.55,True,Month-to-Month,One Line,DSL,Phone+Internet
26,0328-GRPMV,Female,0,No,No,1,2,0,Electronic check,$70.10,...,True,True,0,20200111,$70.10,True,Month-to-Month,One Line,Fiber Optic,Phone+Internet
27,0374-AACSZ,Female,0,No,No,1,1,0,Electronic check,$50.15,...,True,True,0,20200111,$50.15,True,Month-to-Month,One Line,DSL,Phone+Internet
28,0375-HVGXO,Female,0,No,No,0,1,0,Electronic check,$34.70,...,True,False,0,20200111,$34.70,True,Month-to-Month,No Phone Service,DSL,Internet Only
29,0390-DCFDQ,Female,1,Yes,No,1,2,0,Mailed check,$70.45,...,True,True,1,20200111,$70.45,True,Month-to-Month,One Line,Fiber Optic,Phone+Internet

In [46]:
# remove ($)

all_data['monthly_charges']=all_data['monthly_charges'].str.replace('$','').astype(float)

<ipython-input-46-ad08bdddf960>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  all_data['monthly_charges']=all_data['monthly_charges'].str.replace('$','').astype(float)

In [74]:
all_data

,gender,is_senior_citizen,partner,phone_service,internet_service,payment_type,monthly_charges,total_charges,churn,tenure,...,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
0,Female,0,Yes,0,1,Credit card (automatic),56.05,NaN,No,0,...,False,True,False,3,20200211,$0.00,2 Year,No Phone Service,DSL,Internet Only
1,Female,0,Yes,1,0,Mailed check,20.00,NaN,No,0,...,True,False,False,3,20200211,$0.00,2 Year,One Line,No Internet Service,Phone Only
2,Male,0,No,2,1,Bank transfer (automatic),61.90,NaN,No,0,...,True,True,True,2,20200211,$0.00,2 Year,Two or More Lines,DSL,Phone+Internet
3,Male,0,Yes,1,0,Mailed check,19.70,NaN,No,0,...,True,False,False,3,20200211,$0.00,1 Year,One Line,No Internet Service,Phone Only
4,Male,0,No,1,0,Mailed check,20.25,NaN,No,0,...,True,False,False,2,20200211,$0.00,2 Year,One Line,No Internet Service,Phone Only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,Yes,1,0,Bank transfer (automatic),19.40,"$1,496.45",No,77,...,True,False,False,1,20130908,$19.40,2 Year,One Line,No Internet Service,Phone Only
7039,Male,0,Yes,2,0,Bank transfer (automatic),25.15,"$1,940.85",No,77,...,True,False,False,1,20130907,$25.15,2 Year,Two or More Lines,No Internet Service,Phone Only
7040,Female,0,No,1,0,Credit card (automatic),20.25,"$1,566.90",No,77,...,True,False,False,0,20130901,$20.25,2 Year,One Line,No Internet Service,Phone Only
7041,Female,0,Yes,2,0,Bank transfer (automatic),26.00,"$2,006.95",No,77,...,True,False,False,1,20130907,$26.00,2 Year,Two or More Lines,No Internet Service,Phone Only
7042,Female,0,No,1,0,Mailed check,19.75,"$1,567.00",No,79,...,True,False,False,2,20130703,$19.75,2 Year,One Line,No Internet Service,Phone Only

In [75]:
all_data.shape

(7043, 22)

In [ ]:
#remove customer_ID, validate_monthly_charges, phone_type_desc, contract_type, partner, dependents  
# use drop method

In [77]:
all_data.drop('dependents', axis=1, inplace=True)
all_data

KeyError: "['dependents'] not found in axis"

In [79]:
# line 77 throws error but data is clean 
all_data

,gender,is_senior_citizen,partner,phone_service,internet_service,payment_type,monthly_charges,total_charges,churn,tenure,...,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
0,Female,0,Yes,0,1,Credit card (automatic),56.05,NaN,No,0,...,False,True,False,3,20200211,$0.00,2 Year,No Phone Service,DSL,Internet Only
1,Female,0,Yes,1,0,Mailed check,20.00,NaN,No,0,...,True,False,False,3,20200211,$0.00,2 Year,One Line,No Internet Service,Phone Only
2,Male,0,No,2,1,Bank transfer (automatic),61.90,NaN,No,0,...,True,True,True,2,20200211,$0.00,2 Year,Two or More Lines,DSL,Phone+Internet
3,Male,0,Yes,1,0,Mailed check,19.70,NaN,No,0,...,True,False,False,3,20200211,$0.00,1 Year,One Line,No Internet Service,Phone Only
4,Male,0,No,1,0,Mailed check,20.25,NaN,No,0,...,True,False,False,2,20200211,$0.00,2 Year,One Line,No Internet Service,Phone Only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,Yes,1,0,Bank transfer (automatic),19.40,"$1,496.45",No,77,...,True,False,False,1,20130908,$19.40,2 Year,One Line,No Internet Service,Phone Only
7039,Male,0,Yes,2,0,Bank transfer (automatic),25.15,"$1,940.85",No,77,...,True,False,False,1,20130907,$25.15,2 Year,Two or More Lines,No Internet Service,Phone Only
7040,Female,0,No,1,0,Credit card (automatic),20.25,"$1,566.90",No,77,...,True,False,False,0,20130901,$20.25,2 Year,One Line,No Internet Service,Phone Only
7041,Female,0,Yes,2,0,Bank transfer (automatic),26.00,"$2,006.95",No,77,...,True,False,False,1,20130907,$26.00,2 Year,Two or More Lines,No Internet Service,Phone Only
7042,Female,0,No,1,0,Mailed check,19.75,"$1,567.00",No,79,...,True,False,False,2,20130703,$19.75,2 Year,One Line,No Internet Service,Phone Only