In [ ]:
# String Processing in Python from learnpython.org

In [2]:
# Take a user's name, age and is passport number. Verify the user typed it in correct format

In [3]:
Name = input("Enter your name in all caps ")
Age = input("Enter your age ")
Passport_number = input("Enter your password ")

if Name.isalpha() and Name.isupper():
  print("Name is in upper case and contain alphabets only")
else:
  print("Name is not in correct format")
if (Age.isalnum()):
  print("Age is also correct")
if(Passport_number.isalnum()):
  print("Passport is in correct format")
else:
  print("passport format is incorrect")

Enter your name in all caps DILIP
Enter your age 9
Enter your password QAZ236QA
Name is in upper case and contain alphabets only
Age is also correct
Passport is in correct format

In [4]:
# Write a python program to find the number of letter i in a) Dilip , b) Joseph , c) Dan

In [6]:
a="Dilip"
b="Stephnie"
c="Dan"
counter = a.count('i')
print("Number of letter i in dilip is:"+str(counter))
counter = b.count('i')
print("Number of letter i in Stephnie is:"+str(counter))
counter = c.count('i')
print("Number of letter i in Dan is:"+str(counter))

Number of letter i in dilip is:2
Number of letter i in Stephnie is:1
Number of letter i in Dan is:0

In [7]:
# 3. Write a Python program to add 'ing' at the end of a given string
### Sample String 'cook'
### Expected output: 'cooking'

In [8]:
string = "Dance"
add = "ing"
print("string"+str(add))


a= "play"
b= "ing"
print("play"+str(b))

stringing
playing

In [ ]:
# if Elif Else statements

In [9]:
 #write a program that takes input which represents the miles ran
# and then states if the user ran more than a marathon
# marathon equals 26.22 miles

In [10]:
a= input(" Miles ran")
a= float (a)
if a > 26.22:
    print("ran more than marathon")
elif a== 26.22:
            print(" ran marathon")
else:
    print("Went for run")

 Miles ran27
ran more than marathon

In [11]:
# While Loop

In [12]:
i = 0
while i < 10: 
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
# nesting for loops

In [ ]:
# print multiplication tables of 1 - 12

In [13]:
for x in range(1, 13):
    for y in range(1, 13):
        print(x, 'x', y, '=', x * y)
    print('--------------')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
--------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
--------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
--------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
--------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
--------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
--------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
--------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
--------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
--------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
--------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
--------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
--------------

In [14]:
# right triangle

In [15]:
for x in range(6):
    for y in range(x):
        print('*', end=' ')
    print()
print()

*
* *
* * *
* * * *
* * * * *

In [16]:
# calculating factorials of a number n

In [18]:
n = int(input('Enter a number n '))
count = n-1
while count >= 1:
    n *= count
    count -= 1
print('n =', n)

Enter a number n 4
n = 24